

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
        <h6 class="m-0 font-weight-bold text-primary">Contacts</h6>
        <div class="ml-auto">
            <a href="javascript:void(0)" (click)="navigateToCreateContact()"  class="btn btn-primary">
                    <span class="icon text-white-50">
                        <i class="fa fa-plus"></i>
                    </span>
                <span class="text">Create new contact</span>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>IBAN</th>
                <th class="text-center" style="width: 30px;">Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let cts of contacts">

                <td>{{cts.firstname}}</td>
                <td>{{cts.lastname}}</td>
                <td>{{cts.email}}</td>
                <td>{{cts.ibn}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <!-- Edit Button -->
                        <a href="javascript:void(0)" (click)="navigateToEditComponent(cts.id)"  class="btn btn-sm btn-warning me-2">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;

                        <a  href="javascript:void(0)" (click)="userIdToDelete2=cts.id" data-bs-toggle="modal" data-bs-target="#exampleModal2"   class="btn btn-sm btn-danger me-2" >
                            <i   class="fa fa-trash" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;

                    </div>
                </td>

            </tr>

            <tr>
                <td colspan="9" class="text-center">No customer found</td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <td colspan="9">
                    <div class="float-right">
                        pagination
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>



<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Confirm Delete Contact</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to delete this contact ? </div>
            <div class="modal-footer">

              <button class="btn btn-warning" (click)="userIdToDelete2 = -1" type="button" data-bs-dismiss="modal">Cancel</button>
              <button class="btn btn-danger" type="button" data-bs-dismiss="modal" (click)="deleteContact2()">Delete</button>

            </div>
        </div>
    </div>
</div>


