<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item" *ngIf="isAdmin">
    <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-users text-white"></i>
      <span style="font-size: 16px;">Customers</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="javascript:void(0)" (click)="navigateToCustomers()"  style="font-size: 16px;">Customers</a>
      </div>
    </div>
  </li>

  <li class="nav-item" *ngIf="!isAdmin">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo3"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-exchange-alt text-white"></i>
      <span style="font-size: 16px;">My Transactions</span>
    </a>
    <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="javascript:void(0)" (click)="navigateToMyTransactions()"  style="font-size: 16px;">Transactions</a>
      </div>
    </div>
  </li>

  <li class="nav-item" *ngIf="!isAdmin">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo4"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-contact-book text-white"></i>
      <span style="font-size: 16px;">My Contacts</span>
    </a>
    <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="javascript:void(0)" (click)="navigateToMyContacts()"  style="font-size: 16px;">Contacts</a>
      </div>
    </div>
  </li>







  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
