

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex">
    <h6 class="m-0 font-weight-bold text-primary">Products</h6>
    <div class="ml-auto">
      <a href="" class="btn btn-primary">
                    <span class="icon text-white-50">
                        <i class="fa fa-plus"></i>
                    </span>
        <span class="text">Add new product</span>
      </a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Feature</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Tags</th>
        <th>Status</th>
        <th>Created at</th>
        <th class="text-center" style="width: 30px;">Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr>

        <td>

          <img src="/assets/img/02.jpg" width="60" height="60" alt="">

        </td>
        <td>Iphone</td>
        <td>Iphone</td>
        <td>12</td>
        <td>1200</td>
        <td>ELECTRO</td>
        <td>PAID</td>
        <td>12/12/24</td>
        <td>
          <div class="btn-group btn-group-sm">
            <a href="" class="btn btn-primary">
              <i class="fa fa-edit"></i>
            </a>
            <a href="javascript:void(0);" onclick="" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <form action="" method="post" id="delete-product" class="d-none">

          </form>
        </td>
      </tr>

      <tr>
        <td colspan="9" class="text-center">No products found</td>
      </tr>

      </tbody>
      <tfoot>
      <tr>
        <td colspan="9">
          <div class="float-right">
            pagination
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
